# backend
backend/.venv/
backend/.env
__pycache__/
*.pyc

# frontend
frontend/node_modules/
frontend/dist/
frontend/dev-dist/

# infra / data
infra/*.log
infra/hls_out/
infra/mediamtx/
auto.crt
auto.key
*.mp4
*.mkv

# os
.DS_Store
Thumbs.db
